
.row{
    padding: 20px;
}

#quiz{
    padding-top: 50px;
    text-align: center;
}
p{
    margin-top: 10px;
    margin-bottom: 30px;
}

#buttonDiv{
    text-align: center;
}
.col-md-2{
    padding-top: 25px;
}

#timerEl{
    text-align: center;
}